<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">CÁC CHỨC NĂNG CHÍNH</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i><span>Danh mục tin</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/themtin"><i class="fa fa-arrows"></i>Thêm tin</a></li>
          <li><a href="/danhsachtin"><i class="fa fa-motorcycle"></i> Danh sách tin</a></li>
        </ul>
      </li>
      <li>
        <a href="/khachhang">
          <i class="fa fa-th"></i> <span>Khách hàng</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i><span>Thống kê</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="QuanLyDoanhThu.html"><i class="fa fa-bar-chart-o"></i> Doanh thu</a></li>
          <li><a href="SanPhamBanChay.html"><i class="fa fa-line-chart"></i> Sản phẩm bán chạy</a></li>
          <li><a href="SanPhamTon.html"><i class="fa fa-area-chart"></i> Sản phẩm tồn</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
