<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Phiên bản</b> 1.0
  </div>
  <strong>Cửa hàng xe máy vi vu <a href="https://google.com">Admin</a>.</strong> Design: Liêm & Ngân
</footer>
