<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Phiên bản</b> 1.0
  </div>
  <strong>Trang tin tức online<a href="http://localhost:3000/"> Admin</a>.</strong> Design: Liêm & Hưng
</footer>
