<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/dist/css/login.css">
	<script> 
function validateSignUp()                                    
{ 
    var username = document.forms["RegForm"]["username"];               
    var mail = document.forms["RegForm"]["mail"];    
    var password = document.forms["RegForm"]["password"];  
	var password1 = document.forms["RegForm"]["password1"];
   
    if (username.value == "" )                                  
    { 
        window.alert("Please enter your name."); 
        username.focus(); 
        return false; 
    } 

	if (username.value.indexOf(" ", 0) > 0 )                                  
    { 
        window.alert("Please enter your name."); 
        username.focus(); 
        return false; 
    } 
       
    if (mail.value == "")                                   
    { 
        window.alert("Please enter a valid e-mail address."); 
        mail.focus(); 
        return false; 
    } 
   
    if (mail.value.indexOf("@", 0) < 0)                 
    { 
        window.alert("Please enter a valid e-mail address."); 
        mail.focus(); 
        return false; 
    } 
   
    if (mail.value.indexOf(".", 0) < 0)                 
    { 
        window.alert("Please enter a valid e-mail address."); 
        mail.focus(); 
        return false; 
    } 
   
   
    if (password.value == "")                        
    { 
        window.alert("Please enter your password"); 
        password.focus(); 
        return false; 
    } 

	if (password.value.indexOf(" ", 0) >= 0 )                                  
    { 
        window.alert("Please enter your password."); 
        password.focus(); 
        return false; 
    } 

	if (password.value != password1.value)                        
    { 
        window.alert("Your password is not the same"); 
        password.focus(); 
        return false; 
    } 
	
    return true; 
}</script> 
  </head>
  <body>
    <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
      <form name="RegForm" action="auth" onsubmit="return validateSignUp()" method="POST">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" name="username" class="input" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" name="password" class="input" data-type="password" autocomplete="off" required>
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="forgot">Forgot Password?</a>
				</div>
			</div>
      </form>
			<div class="sign-up-htm">
        <form name="RegForm" action="adduser" onsubmit="return validateSignUp()" method="POST">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user"  name="username" type="text" class="input" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="password" type="password" class="input" data-type="password" autocomplete="off" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" name="password1" type="password" class="input" data-type="password" autocomplete="off" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" name="mail" type="text" class="input" required>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>
        </form>
			</div>
		</div>
	</div>
</div>
  </body>
</html>
